.popup_opened {
  display: grid;
  animation: show .5s linear;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    display: none;
  }
  100% {
    display: grid;
    opacity: 1;
  }
}