.profile__info {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(3, min-content);
  grid-template-areas: 
  "avatar name edit-btn"
  "avatar description .";
}

@media (max-width: 650px) {
  .profile__info {
    grid-template-areas: 
    "avatar avatar avatar"
    "name . edit-btn "
    "description description .";
  }
}